@{
    Layout = null; ;
}
@{
    ViewBag.Title = "Авторизация";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<body>
    <div class="site-wrapper site-wrapper--index">
        <main class="authorization">
            <h2 class="authorization__title">Авторизуйтесь</h2>
            <p><input class="authorization__input js-login" type="text" placeholder="Введите ваш логин"></p>
            <p><input class="authorization__input js-password" type="password" placeholder="Введите ваш пароль"></p>
            <span class="error authorization__error"><sup>*</sup>Неправильно введен логин или пароль</span>
            <p><a class="authorization__button" href="/Home/Login">Войти в систему</a></p>
        </main>
    </div>
    <script src="~/Scripts/script.js"></script>
</body>

